<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/index.js"></script>
    <title>Document</title>

</head>

<body>
    <div id="id_idx">
    {{Resid}}
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="updated_nickname" placeholder="닉네임" style="margin-bottom: 10px;">
        <label for="floatingInput">닉네임</label>
    </div>
    <div class="form-floating">
        <textarea class="form-control" placeholder="방명록을 남겨주세요" id="updated_comment" style="height: 100px"></textarea>
        <label for="floatingTextarea2">방명록</label>
    </div>
   
    <div class="w_b_btn">
        <button type="button" class="btn btn-outline-light" onclick="save_updated_comment()">입력하기</button>
    </div><!-- e:w_b_btn -->

</body>

</html>